.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  font-size: 76px;
  color: var(--mat-sys-secondary);
  margin-bottom: 48px;
  font-family: "Protest Guerrilla", sans-serif;
}

mat-form-field {
  margin: 0 256px 16px 256px;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
}

.password-visibility {
  margin-right: 16px;
}

.reset-password {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.login {
  display: inline-flex;
  align-self: center;
  width: 128px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

p {
  margin-top: 8px;
  color: var(--mat-sys-outline);
}

p a {
  text-decoration: none;
  font-weight: 500;
  color: var(--mat-sys-primary);
}
