<h2 mat-dialog-title>Reset Password</h2>
<mat-dialog-content class="dialog-container">
  <p class="explication">An email will be sent to reset your password!</p>
  <form [formGroup]="emailForm!!" (ngSubmit)="onSubmit()">
    <!-- Email Input -->
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" class="mat-body-medium" placeholder="Enter your email address"
             formControlName="email" required/>
      @if (emailForm?.touched && emailForm!!.hasError('required', 'email')) {
        <mat-error class="mat-body-medium">Please enter your email address.</mat-error>
      }
      @if (emailForm?.touched && emailForm!!.hasError('email', 'email')) {
        <mat-error class="mat-body-medium">The email you provided is not valid.</mat-error>
      }
    </mat-form-field>

    <!-- Reset Password Button -->
    <button class="reset" mat-flat-button [disabled]="emailLoading" type="submit">
      @if (emailLoading) {
        <mat-spinner [diameter]="24" [color]="'#111413'"></mat-spinner>
      }
      @if (!emailLoading) {
        <span class="mat-label-large">Reset Password</span>
      }
    </button>

    <p id="close" (click)="closeDialog()">Do not Reset Password!</p>
  </form>
</mat-dialog-content>
