.dialog-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
  text-align: center;
}

.explication {
  text-align: center;
}

mat-spinner {
  margin: 48px;
}

mat-dialog-actions {
  display: flex;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-form-field {
  margin: 0 16px 16px 16px;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
}

.reset {
  display: inline-flex;
  align-self: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.reset span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#close {
  align-self: center;
  color: var(--mat-sys-outline);
  cursor: pointer;
  margin-top: 8px;
}
