.dialog-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

mat-spinner {
  margin: 48px;
}

mat-dialog-actions {
  display: flex;
  align-self: center;
}

.explication {
  margin-bottom: 16px;
  text-align: center;
}

.image {
  width: 128px;
}

button span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
