<h2 mat-dialog-title>Update Password</h2>
<mat-dialog-content class="dialog-container">
  <form [formGroup]="passwordForm!!" (ngSubmit)="onSubmit()">
    <!-- Password Input -->
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" class="mat-body-medium"
             placeholder="Enter a strong password" formControlName="password" required/>
      <button class="password-visibility" type="button" mat-icon-button matSuffix
              (click)="togglePasswordVisibility($event)"
              [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (passwordForm?.touched && passwordForm!!.hasError('required', 'password')) {
        <mat-error class="mat-body-medium">Please enter your password.</mat-error>
      }
      @if (passwordForm?.touched && passwordForm!!.hasError('minLength', 'password')) {
        <mat-error class="mat-body-medium">Your password must be a minimum of 6 characters.</mat-error>
      }
    </mat-form-field>

    <!-- Confirm Password Input -->
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" class="mat-body-medium"
             placeholder="Re-enter the password"
             formControlName="confirmPassword" required/>
      <button class="password-visibility" type="button" mat-icon-button matSuffix
              (click)="togglePasswordVisibility($event)"
              [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (passwordForm?.touched && passwordForm!!.hasError('passwordNoMatch', 'confirmPassword')) {
        <mat-error class="mat-body-medium">Passwords do not match.</mat-error>
      }
    </mat-form-field>

    <!-- Update Password Button -->
    <button class="update" mat-flat-button [disabled]="passwordLoading" type="submit">
      @if (passwordLoading) {
        <mat-spinner [diameter]="24" [color]="'#111413'"></mat-spinner>
      }
      @if (!passwordLoading) {
        <span class="mat-label-large">Update Password</span>
      }
    </button>

    <p id="close" (click)="closeDialog()">Do not update Password!</p>
  </form>
</mat-dialog-content>
